/* styles/Comidas.module.css */
.comidas {
    /* Estilos para el contenedor principal de Comidas */
  }
  
  .slider {
    position: relative;
    /* Otros estilos del slider */
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  